*{
  /* border: 1px solid red; */
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.Cat{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-yes {
  position: absolute;
  top: 400px;
  left: 520px;
  width: 70px;
  height: 50px;
}
.btn-no{
  position: absolute;
  top: 400px;
  left: 630px;
  width: 70px;
  height: 50px;
}

