*{
  /* border: 1px solid red; */
}
.BeforeAnswer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.Cat{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-yes {
  display: ;
  position: absolute;
  top: 400px;
  left: 520px;
  width: 70px;
  height: 50px;
}
.btn-no{
  position: absolute;
  top: 400px;
  left: 630px;
  width: 70px;
  height: 50px;
}
.AfterAnswer{
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

